/* Color Aesthetic */
:root {
--dark-blue: #30424C;
--torquiose: #2A6070;
--aqua: #2191A3;
--bby-blue: #5EBCD8;
--light-blue: #DAF5FC;
};


body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 96%;
   
}
/* Header */
header {
    padding: 10px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue);
    color: var(--aqua);
    

}
header h1 {
    width: 40%;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-size: 140%;
    text-align: right;
    height: 10%;
    margin-top: 1vh;
    margin-left: 2vh;

}

header ul li {
    display: inline;
    margin-left: 8px;
    text-decoration: underline;
    color: var(--light-blue)
    
}
.link{
    color: var(--light-blue)
}

/* Banner Image */
.banner {
    padding: 10px;
    background-image: url("../img/abstract-blue.jpg");
    background-size: cover;
    background-position: bottom;

}

#banner {
    position: relative;
    margin-top: 10%;
    margin-left: 50%;
    background-color: var(--bby-blue);
    color: var(--dark-blue);
    width: 50%;
}

/* Main Body of the portfolio */
.cards {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--dark-blue);
    padding: 5%;
   
   
}

.cate {
    position:relative;
    color: var(--dark-blue);
    padding: 5%;
    max-width: 20%;
    border-right-style: solid;
    border-right-color: var(--dark-blue);
    border-width: 5px;
    text-align: right;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:5%;
}
/* Work Section Examples */
.examples {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    margin: 3%;
}
    
.caption {
    background-color: #DAF5FC;
    font-size: 10%;
    height: 50px;
    width: 50px;
}
 
.coming-soon {
    padding: 10%;
    background-image: url("../img/coming-soon.png");
    background-size: cover;
}

#big {
    display: inline;
    border-style: solid;
    border-color: var(--torquiose);
    border-width: 2px;
    height: 40vh;
    width: 50vw;
}

.contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5%;
    margin-left: 8px;
    text-decoration: underline;
}

#photo {
    height:35%;
    width: 25%;
    padding: 3%;
}

#work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 96%;

}
/* footer */
footer {
    display: flex;
    justify-content: center;
    background-color: var(--torquiose);
    color: var(--light-blue);
    margin-top: 3%;
}


/* add a "if the size of the screen gets smaller than... change the header layout"*/